
#content {
	font-style: normal;
	font-weight: normal;
	top: 0px;
	text-align: center;
}

#objText {
	word-wrap: normal;
	font: bold 18px/normal Helvetica, Arial, sans-serif;
}

#textInput {
	font-size: 150%;
	height: 85%;
	width: 95%;
}

