<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.lavertytech.tooloud2talk"
	version 	= "1.5.0">

	<name>Too Loud 2 Talk</name>

	<description>
		An app used to communicate using large text where talking can not be heard or understood.
	</description>

	<author href="http://lavertytech.com"
		email="lavertytech@gmail.com">
		Rob Laverty
	</author>

	<icon src="icon.png" gap:role="default" />

	<preference name="fullscreen" value="true" />
	<preference name="permissions" value="none" />

</widget>
